@import "colors.css";

* {
    min-height: 0;
    border: none;
    margin: 0;
    padding: 0;

    font-family: "FiraCode Nerd Font";
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
	background: @shadow;
}

window#waybar>box {
	background: @surface_container_lowest;
    margin: 2px;
}

/* Modules Left */
#workspaces {
    background: @surface_container_low;
}

#workspaces button {
    color: @on_surface;
    padding: 0 2px;
}

#workspaces button:hover {

}

/* Time */
#custom-left-time {
    color: @surface_container_low;
}

#clock.time {
    color: @on_surface;
    background: @surface_container_low;
    padding-left: 8px;
}

/* Icon */
#custom-left-icon {
    color: @surface_container;
    background: @surface_container_low;
    padding-left: 8px;
    text-shadow: -3px 0px 2px rgba(0, 0, 0, 0.3);
}

#custom-icon {
    color: @primary;
    background: @surface_container;
    padding: 0 8px 0 4px;
}

#custom-right-icon {
    color: @surface_container;
    background: @surface_container_low;
    padding-right: 8px;
    text-shadow: 3px 0px 2px rgba(0, 0, 0, 0.3);
}

/* Date */
#clock.date {
    color: @on_surface;
    background: @surface_container_low;
    padding-right: 8px;
}

#custom-right-date {
    color: @surface_container_low;
}

/* Arrows */
#custom-right-workspaces {
    color: @surface_container_low;
}
