@import "colors.css";

/* -------------------- General -------------------- */

* {
    min-height: 0;
    border: none;
    margin: 0;
    padding: 0;

    font-family: "FiraCode Nerd Font";
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
	background: @shadow;
}

window#waybar>box {
	background: @surface_container_low;
    margin: 2px;
}

/* -------------------- Left -------------------- */

/* Workspaces */
#workspaces {
    background: @surface_container_high;
}

#custom-right-workspaces {
    color: @surface_container_high;
    padding-right: 8px;
    text-shadow: 3px 0px 2px rgba(0, 0, 0, 0.35);
    font-size: 16px;
}

#workspaces button {
    color: @on_surface;
    padding: 0 2px;
}

#workspaces button:hover {}

#workspaces button.active {
    color: @primary;
}

/* -------------------- Center -------------------- */

/* Volume */
#custom-left-pulseaudio {
    color: @surface_container_high;
    padding-left: 4px;
    text-shadow: -3px 0px 2px rgba(0, 0, 0, 0.35);
    font-size: 16px;
}

#pulseaudio {
    color: @on_surface;
    background: @surface_container_high;
    padding-left: 8px;
}

/* Time */
#custom-left-time1 {
    color: @surface_container_highest;
    background: @surface_container_high;
    padding-left: 8px;
    text-shadow: -3px 0px 2px rgba(0, 0, 0, 0.35);
    font-size: 16px;
}

#clock.time {
    color: @on_surface;
    background: @surface_container_highest;
    padding-left: 8px;
}

#custom-left-time2 {
    color: @surface_container_low;
    background: @surface_container_highest;
    padding-left: 8px;
    font-size: 16px;
}

/* Icon */
#custom-left-icon {
    color: @primary;
    font-size: 16px;
}

#custom-icon {
    color: @on_primary;
    background: @primary;
    padding-left: 4px;
}

#custom-right-icon {
    color: @primary;
    font-size: 16px;
}

/* Date */
#custom-right-date1 {
    color: @surface_container_low;
    background: @surface_container_highest;
    padding-right: 8px;
    font-size: 16px;
}

#clock.date {
    color: @on_surface;
    background: @surface_container_highest;
    padding-right: 8px;
}

#custom-right-date2 {
    color: @surface_container_highest;
    background: @surface_container_high;
    padding-right: 8px;
    text-shadow: 3px 0px 2px rgba(0, 0, 0, 0.35);
    font-size: 16px;
}

/* Network */
#network {
    color: @on_surface;
    background: @surface_container_high;
    padding-right: 4px;
}

#custom-right-network {
    color: @surface_container_high;
    padding-right: 4px;
    text-shadow: 3px 0px 2px rgba(0, 0, 0, 0.35);
    font-size: 16px;
}

/* -------------------- Right -------------------- */

/* Backlight */
#custom-left-backlight {
    color: @surface_container_high;
    text-shadow: -3px 0px 2px rgba(0, 0, 0, 0.35);
    font-size: 16px;
}

#backlight {
    color: @on_surface;
    background: @surface_container_high;
    padding-left: 8px;
}

/* Battery */
#custom-left-battery {
    color: @surface_container_highest;
    background: @surface_container_high;
    padding-left: 8px;
    text-shadow: -3px 0px 2px rgba(0, 0, 0, 0.35);
    font-size: 16px;
}

#battery {
    color: @on_surface;
    background: @surface_container_highest;
    padding-left: 8px;
}

/* Power */
#custom-left-power {
    color: @surface_container_low;
    background: @surface_container_highest;
    padding-left: 8px;
    font-size: 16px;
}

#custom-power {
    margin: 0 4px;
    padding: 0 12px 0 8px;
    color: @on_primary;
    background: @primary;
    border-radius: 12px;
}
